<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Balance</title>
  </head>
  <body>
    <h1>Add Balance to your Wallet!</h1>

    <form action="/api/users/new-balance" method="POST">
      <label>Add Amount(in dollars):</label>
      <input type="number" name="dollarAmount" placeholder="Add Balance" />
      <input type="hidden" name="userId" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
