<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Transaction</title>
  </head>
  <body>
    <h1>Create a New Transaction</h1>

    <form action="/api/transactions" method="POST">
      <label>Select coin:</label>
      <select name="coins">
        <% for(let coin of coinsList) { %>
        <option value="<%= coin.id %>"><%= coin.name %></option>

        <% } %></select
      ><br /><br />
      <label>Price per share:</label>
      <select name="pricePerShare">
        <% for(let coin of coinsList) { %>
        <option value="<%= coin.current_price %>">
          <%= coin.current_price %>
        </option>

        <% } %>
      </select>
      <br />
      <br />
      <label>Select action:</label>
      <select name="action">
        <option value="buy">Buy</option>
        <option value="sell">Sell</option></select
      ><br /><br />
      <label>How many shares would you like to buy/sell?</label>
      <input name="shares" type="number" data-type="currency" required />
      <br /><br />

      <button type="submit">Submit Transaction</button>
    </form>
  </body>
</html>
